<nav
  class="navbar navbar-expand navbar-light bg-white topbar static-top shadow"
>
  <h2 class="d-none d-sm-inline-block form-inline ml-md-3 text-primary">
    PATIENT DASHBOARD
  </h2>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon *ngIf="!isOpened"> menu </mat-icon>
    <mat-icon *ngIf="isOpened"> close </mat-icon>
  </button>

  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  >
    <div class="input-group">
      <input
        type="text"
        class="form-control bg-light border-0 small"
        placeholder="Search for..."
        aria-label="Search"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

  <button
    class="profile-btn w-auto bg-transparent border-0"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <img
      class="rounded-circle"
      undraw_posting_photo.svg
      src="/assets/images/undraw_profile.svg"
      alt="..."
    />
    {{ username }}
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/user/profile']">
      <mat-icon>voicemail</mat-icon>
      <span>Profile</span>
    </a>
    <button mat-menu-item (click)="onLogOut()">
      <mat-icon>voicemail</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</nav>
