<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcumb-ol">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Medication & Allegies
    </li>
  </ol>
</nav>
<div class="container">
  <form (ngSubmit)="medicationForm()" class="p-3 w-100 myform">
    <mat-card-header class="bg-primary text-white mb-2 p-2 rounded"
      ><h4>Medication & Allergies</h4>
    </mat-card-header>
    <mat-card class="mb-2 px-lg-5">
      <mat-card-header class="text-primary mb-2 py-1 rounded"
        >Medication & Allergies General Information</mat-card-header
      >

      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Current Medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="Current Medication"
            name="currentmedication"
            required
            [(ngModel)]="medication.currentmedication"
          />
          <mat-error *ngIf="fName.hasError('required')"
            >Field must not be empty</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>OTC Medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="Your Last name"
            name="otcmedication"
            required
            #fName="ngModel"
            [ngModel]="medication.otcmedication"
          />
          <mat-error *ngIf="fName.hasError('required')"
            >Field must not be empty</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Herbs/Minerals/Vitamin/Antibiotic</mat-label>
          <input
            type="text"
            matInput
            placeholder="Herbs/Minerals/Vitamin/Antibiotic"
            name="herbsmineralandvitamin"
            required
            #emailInput="ngModel"
            [(ngModel)]="medication.herbsmineralandvitamin"
          />
          <mat-error *ngIf="emailInput.hasError('required')"
            >Field must not be empty</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Social Drugs</mat-label>
          <input
            type="text"
            matInput
            placeholder="Social Drugs"
            name="socialdrug"
            required
            [(ngModel)]="medication.socialdrug"
          />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Any past prescribed medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="Past Prescribed Medication"
            name="pastprescribedmedication"
            required
            [(ngModel)]="medication.pastprescribedmedication"
          />
        </mat-form-field>
      </div>
    </mat-card>
    <div class="d-flex justify-content-center mt-4">
      <button type="submit" class="btn" mat-raised-button color="primary">
        Submit
      </button>
    </div>
  </form>
</div>
