<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcumb-ol">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Medication & Allegies
    </li>
  </ol>
</nav>
<div class="container">
  <form
    #form="ngForm"
    (ngSubmit)="medicationForm(form)"
    class="p-3 w-100 myform"
  >
    <mat-card-header class="bg-primary text-white mb-2 p-2 rounded"
      ><h4>Medication & Allergies</h4>
    </mat-card-header>
    <mat-card class="mb-2 px-lg-5">
      <mat-card-header class="text-primary mb-2 py-1 rounded"
        >Medication & Allergies General Information</mat-card-header
      >

      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6" style="display: none">
          <mat-label>Your Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Your Name"
            name="pname"
            required
            [(ngModel)]="medication.pname"
          />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Current Medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="Current Medication"
            name="currentmedication"
            required
            [(ngModel)]="medication.currentmedication"
          />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>OTC Medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="OTC Medication"
            name="otcmedication"
            required
            [(ngModel)]="medication.otcmedication"
          />
        </mat-form-field>

        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Herbs/Minerals/Vitamin/Antibiotic</mat-label>
          <input
            type="text"
            matInput
            placeholder="Herbs/Minerals/Vitamin/Antibiotic"
            name="herbsmineralandvitamin"
            required
            #emailInput="ngModel"
            [(ngModel)]="medication.herbsmineralandvitamin"
          />
          <mat-error *ngIf="emailInput.hasError('required')"
            >Field must not be empty</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Social Drugs</mat-label>
          <mat-select name="socialdrug" [(ngModel)]="medication.socialdrug">
            <mat-option value="Antibiotics ">Antibiotics </mat-option>
            <mat-option value="Nonsteroidal anti-inflammatory"
              >Nonsteroidal anti-inflammatory
            </mat-option>
            <mat-option value="Aspirin">Aspirin</mat-option>
            <mat-option value="Sulfa drugs">Sulfa drugs</mat-option>
            <mat-option value="Chemotherapy drugs."
              >Chemotherapy drugs.</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Any past prescribed medication</mat-label>
          <input
            type="text"
            matInput
            placeholder="Past Prescribed Medication"
            name="pastprescribedmedication"
            required
            [(ngModel)]="medication.pastprescribedmedication"
          />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Drug Allergies</mat-label>
          <mat-select
            name="drugallergies"
            [(ngModel)]="medication.drugallergies"
            required
          >
            <mat-option value="Pharmaceutical Agent"
              >Pharmaceutical Agent</mat-option
            >
            <mat-option value="Anaphylaxis">Anaphylaxis</mat-option>
            <mat-option value="Cephalosporins">Cephalosporins.</mat-option>
            <mat-option value="Novocaine">Novocaine</mat-option>
            <mat-option value="Body Aches">Body Aches</mat-option>
            <mat-option value="Drug-induced anemia"
              >Drug-induced anemia</mat-option
            >
            <mat-option value="Inflammation in the kidneys"
              >Inflammation in the kidneys</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Allergies/Reaction Other</mat-label>
          <input
            type="text"
            matInput
            placeholder="Allergies/Reaction Other"
            name="reactionother"
            required
            [(ngModel)]="medication.reactionother"
          />
        </mat-form-field> -->
        <mat-form-field class="col-sm-12 col-md-6">
          <mat-label>Allergies/Reaction Other</mat-label>
          <mat-select
            name="reactionother"
            [(ngModel)]="medication.reactionother"
            required
          >
            <mat-option value="Aseptic meningitis"
              >Aseptic meningitis</mat-option
            >
            <mat-option value="Domestic guinea pig"
              >Domestic guinea pig</mat-option
            >
            <mat-option value="Parasitic roundworm"
              >Parasitic roundworm</mat-option
            >
            <mat-option value="Red fire ant">Red fire ant</mat-option>
            <mat-option value="Hornet">Hornet</mat-option>
            <mat-option value="Wasp">Wasp</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
    <div class="d-flex justify-content-center mt-4">
      <button
        [disabled]="form.invalid"
        type="submit"
        class="btn"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </div>
  </form>
</div>
