.fc {
  .fc-col-header-cell {
    background-color: $primary;
    a {
      color: $white;
      font-weight: 500;
    }
  }

  .fc-daygrid-event {
    white-space: normal;
    align-items: baseline;
    background-color: $text-primary;
    color: #fff;
    &.fc-event-past {
      background-color: #ccc;
    }
  }

  .fc-daygrid-event-dot {
    border-color: inherit;
  }

  .fc-event-title {
    font-weight: 500 !important;
  }
  .fc-daygrid-day.fc-day-today {
    background-color: rgba($blue, 0.15) !important;
  }
  .fc-button-primary {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}
