<div class="table-responsive">
  <table class="table table-bordered table-hover border-primary">
    <thead>
      <tr class="bg-primary">
        <th colspan="14">Patient Demographics View</th>
      </tr>

      <tr>
        <th scope="column" *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of viewdemo">
        <td scope="row" *ngFor="let col of index">
          {{ user[col] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
