.nav-item a {
  color: white;
  padding: 1.25rem 1rem;
  font-size: 16px;
  width: 100%;
}
.nav-item {
  .active {
    background: white;
    border-radius: 2px;
    color: black;
  }
}

.nav-item.active a {
  color: black;
}
.material-icons {
  font-size: 15px;
}

mat-divider {
  background-color: rgba(255, 255, 255, 0.25);
}
