.nav-item a {
  color: white;
  text-align: left;
  padding: 12px 4px;
  font-size: 16px;
}
.nav-item.active {
  background: white;
  border-radius: 5px;
}

.nav-item.active a {
  color: black;
}
.material-icons {
  font-size: 15px;
}
