<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <li class="nav-item active menu-button">
    <a class="nav-link" [routerLink]="['/dashboard/patient-dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
  </li>

  <mat-divider></mat-divider>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/demographics']"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <mat-icon>graphic_eq</mat-icon>
      <span>Demographics</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Medication & Allergies</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/medication-and-allergies/form']"
    >
      <mat-icon>local_hospital</mat-icon>
      <span>Medication</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item menu-button">
    <a class="nav-link">
      <mat-icon>info</mat-icon>
      <span>Immunization</span>
    </a>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item menu-button">
    <a class="nav-link">
      <mat-icon>calendar_today</mat-icon>
      <span>Appointments</span>
    </a>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item menu-button">
    <a class="nav-link">
      <mat-icon>schedule</mat-icon>
      <span>Plan of Care</span>
    </a>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item menu-button">
    <a class="nav-link">
      <mat-icon>payment</mat-icon>
      <span>Billing</span>
    </a>
  </li>
  <mat-divider></mat-divider>
  <li class="nav-item menu-button">
    <a class="nav-link">
      <mat-icon>person_add</mat-icon>
      <span>Profile</span>
    </a>
  </li>
  <mat-divider></mat-divider>
</ul>
