<h4 class="name">John Smith</h4>
<p class="designation">Software Engineer</p>
<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>info</mat-icon>
    <span class="nav-caption">About</span>
  </a>

  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
