<div class="container">
  <button mat-raised-button (click)="openDialog()" color="primary">
    Book your appointment
  </button>

  <h2 class="my-5 text-center">Your Upcoming Appointments</h2>
  <div class="table-wrap">
    <table
      [ngClass]="{ 'd-none': !isData }"
      mat-table
      [dataSource]="appointments"
    >
      <!-- Title Column -->
      <ng-container matColumnDef="title" sticky>
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
          {{ element.title | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
      </ng-container>

      <!-- provider Column -->
      <ng-container matColumnDef="physician">
        <th mat-header-cell *matHeaderCellDef>Physician</th>
        <td mat-cell *matCellDef="let element">{{ element.physician }}</td>
      </ng-container>

      <!-- slot Column -->
      <ng-container matColumnDef="slot">
        <th mat-header-cell *matHeaderCellDef>Slot</th>
        <td mat-cell *matCellDef="let element">{{ element.slot }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Staus</th>
        <td mat-cell *matCellDef="let element">
          <div
            *ngIf="element.status; else not_booked"
            class="text-success font-weight-medium"
          >
            Booked
          </div>
          <ng-template #not_booked>
            <div class="text-danger font-weight-medium">Not Booked</div>
            <a
              mat-raised-button
              color="accent"
              [routerLink]="['/billing']"
              class="my-2"
            >
              Pay Now
            </a>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button class="bg-transparent border-0" (click)="removeData(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="text-center" *ngIf="!isData">No Appointments Here</div>
  </div>
</div>
