<div class="container">
  <button mat-raised-button (click)="openDialog()" color="primary">
    Book your appointment
  </button>

  <h2 class="my-5 text-center">Your Appointments</h2>
  <table *ngIf="isData" mat-table [dataSource]="appointments" class="w-100">
    Position Column

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef>Provider</th>
      <td mat-cell *matCellDef="let element">{{ element.provider }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="slot">
      <th mat-header-cell *matHeaderCellDef>Slot</th>
      <td mat-cell *matCellDef="let element">{{ element.slot }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="remove(element)">
          <mat-icon>trash</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
