.table-responsive {
  .position {
    position: relative;
    padding: 10px;
  }
  h2 {
    color: #fff;
    font-size: 18px;
  }
  .mat-button {
    float: right;
    position: absolute;
    right: 0;
    top: 0px;
  }
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}