<ng-template appPlaceholder></ng-template>

<section class="container my-5">
  <a [routerLink]="['/']" class="text-center d-block mb-4"
    ><img
      class="mw-100"
      src="../../../../../assets/images/pp-logo.jpg"
      alt=""
    />
  </a>
  <!-- <div class="alert alert-danger col-md-6 offset-md-3" *ngIf="error">
    <p>{{ error }}</p>
  </div> -->
  <div *ngIf="isLoading" class="text-center">
    <app-loader></app-loader>
  </div>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="form-card d-flex flex-column align-items-center"
    *ngIf="!isLoading"
  >
    <h2 class="text-center mb-4">Sign in</h2>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        placeholder="Your Email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('email')"
        >Email is invalid</mat-error
      >
      <mat-icon matSuffix>mail </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        minlength="6"
        required
        #pwd="ngModel"
      />
      <button
        class="px-0"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="pwd.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>

    <button
      type="submit"
      class="mt-4"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
    >
      Login
    </button>
    <div class="text-center my-2">or</div>
    <a routerLink="/user/register">Create an Account </a>
  </form>
</section>
