h4 {
  color: #fff;
}
mat-card-header {
  display: block;
  font-weight: 500;
}
mat-form-field {
  width: 480px;
  max-width: 100%;
}

:host {
  nav {
    display: flex;
    justify-content: space-between;
    background: #e9ecef;
    ol {
      margin-bottom: 0;
    }
  }
  ::ng-deep {
    .bg-primary .mat-card-header-text {
      margin: 0 8px;
    }
    .text-primary .mat-card-header-text {
      margin: 0;
    }
  }
}
.field-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
}
