<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/dashboard/patient-dashboard']">Home</a>
    </li>
  </ol>
</nav>

<div class="container">
  <form [formGroup]="form">
    <mat-card-header class="bg-primary text-white mb-2 p-2 rounded"
      ><h4>Billing</h4>
    </mat-card-header>
    <mat-card class="mb-2 px-lg-5">
      <div class="row">
        <div class="col">
          <mat-card-header class="text-primary mb-2 py-1 rounded"
            >Treatments</mat-card-header
          >
          <!-- <h4>mat-select</h4> -->
          <mat-form-field appearance="fill">
            <mat-select [formControl]="testControl" name="test">
              <mat-option>Select Test</mat-option>
              <mat-option *ngFor="let test of tests" [value]="test.value">
                {{ test.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-card-header class="text-primary mb-2 py-1 rounded"
            >Unit</mat-card-header
          >
        </div>
        <div class="col">
          <mat-card-header class="text-primary mb-2 py-1 rounded"
            >Cost</mat-card-header
          >
        </div>
        <div class="col">
          <mat-card-header class="text-primary mb-2 py-1 rounded"
            >Total</mat-card-header
          >
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div>
        <p>Selected: {{ testControl.value }}</p>
      </div>
    </mat-card>
  </form>
</div>
